<form method="POST" action="/recipes/<%=@recipe.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Current Recipe</label> <br>
<%=@recipe.name%>
<%=@recipe.ingredients%>
<%=@recipe.cook_time%>
<br><br><br>
    <label>New Name: </label>
        <input type="text" name="name">
        <br>
    <label>New Ingredients: </label>
        <input type="text" name="ingredients">
        <br>
    <label>New Cook Time: </label>
        <input type="text" name="cook_time">
        <br>
    <input type="submit" value="submit">
</form>